/* The @import rule below imports the Playfair Display and Source Sans Pro fonts into the stylesheet*/
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&family=Source+Sans+Pro:wght@400&display=swap");

body {
  background-color: #eae2b7;
  color: #003049;
  font-family: "Source Sans Pro", Tahoma, Geneva, Verdana, sans-serif;
  padding: 40px;
}

/* Headings */
h1,
h2,
h3 {
  font-family: "Playfair Display", Times, serif;
  text-align: center;
}

/* Header. I modified this */
header {
  text-align: center;
  display: flex; /* I'll start here by using a Flexbox */
  justify-content: space-between; /*Then, center horizontally */
  align-items: center; /*Then, center verically */ 
}

/* I added this */
.header-content {
  display: flex;
  align-items: center;
}

/* Containers */

section {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}


div {
  background-color: #eae2b7;
  margin: auto;
  width: 600px;
}

article {
  padding: 50px 0;
}

article div {
  text-align: center;
  width: 100%;
}

/* Paragraphs */
p {
  line-height: 1.5;
}

/* Links */
a:link {
  color: #d62828;
}

a:hover {
  color: #f77f00;
}

/* I added this */
nav {
  display: flex;
  gap: 20 px; /* added some space between the links */
}

nav a {
  padding-left: 20px;
}

/* Images */
img {
  width: 100%;
  max-width: 200px;
  height: auto;
}

/* center-align the text within the container */
.center-content {
  text-align: center;
}

/* add a new css rule for the flex-container */
.flex-container {
  display: flex;
  align-items: center; /* vertically center the items */
}

.left-align {
  text-align: left;
}

/* style for the image container */
.image-container {
  flex: 1; /* distribute available space equally */
  text-align: center;
}

/* style for the text container */
.text-container {
  flex: 2; /* distribute available space equally */
  text-align: center;
  margin: 30px;
}

/* style for Pete's image*/
.image-circle {
  border: 2px solid #003049;
  border-radius: 50%;
}

/* Add a new CSS rule for project container */
.project-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  
}

/* Style for each project section */
.project {
  flex: 1; /* Set the width for each project with spacing */
  text-align: center;
  font-size: 14px;
  padding: 0 10px;
  margin: 0;
}

/* Adjust image width and max-width for projects */
.project img {
  width: 100%;
  max-width: 100%;
  height:auto;
}


/* Footer */
footer {
  text-align: center;
}

/* Other page elements */
hr {
  border: 1px solid black;
}
